framework:
    messenger:
        failure_transport: failed

        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                retry_strategy:
                    max_retries: 3
                    delay: 1000
                    multiplier: 2
                    max_delay: 0
            failed:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%?queues[failed]/exchange[failed]'

        routing:
            App\Message\SyncCharacterAssets: async
            App\Message\SyncCorporationAssets: async
            App\Message\TriggerAssetsSync: async
            App\Message\TriggerPlanetarySync: async
            App\Message\SyncPlanetaryColonies: async
            App\Message\SyncIndustryJobs: async
            App\Message\TriggerPveSync: async
            App\Message\SyncWalletTransactions: async
            App\Message\TriggerMiningSync: async
            App\Message\TriggerAnsiblexSync: async
            App\Message\TriggerJitaMarketSync: async
            App\Message\TriggerStructureMarketSync: async
            App\Message\SyncUserPveData: async
            App\Message\SyncUserMiningData: async
            App\Message\SyncAnsiblexGates: async
            App\Message\SyncStructureMarket: async

when@test:
    framework:
        messenger:
            transports:
                async: 'in-memory://'
